@tailwind base;
@tailwind components;
@tailwind utilities;
.collapse.navbar-collapse {
    visibility: unset;
}

.dark-btn{
    color: var(--white);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.dark-btn:hover{
    color: var(--primary-color);
    background-color: var(--white);
    border: 2px solid var(--primary-color);
}


.white-btn{
    color: var(--dark);
    background-color: var(--white);
}
.tab-button{
    padding: .5rem 1rem;
    position: relative;
    margin: 0rem 2rem;
    color: var(--dark);
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    background: transparent;
}

.white-btn:hover{
    color: var(--white);
    background-color: var(--dark);
}

.section-header {
    text-align: center;
    margin-top: 2rem;
    font-weight: 800;
    @apply text-3xl;
}

li.Footer__country-flags-list-item {
    margin-right: 5px;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    line-height: .5rem;
}
li.Footer__country-flags-list-item a{
    width: 39px;
    display: block;
}
/*.primary-btn{*/
/*    text-decoration: none;*/
/*    padding: .5rem 2.5rem;*/
/*    font-size: 1rem;*/
/*    line-height: 1.5rem;*/
/*    font-weight: 600;*/
/*    border-radius: 0.125rem;*/
/*    text-transform: uppercase;*/
/*    @apply mr-4;*/
/*    @apply bg-slate-200;*/
/*    @apply transition;*/
/*    @apply duration-200;*/
/*    @apply text-slate-900;*/
/*    @apply hover:bg-slate-900;*/
/*    @apply hover:text-slate-100;*/
/*}*/

/*.tab-button{*/
/*    padding: .5rem 1rem;*/
/*    position: relative;*/
/*    margin: 0rem 2rem;*/
/*    @apply text-slate-900;*/
/*    @apply text-base;*/
/*    @apply font-semibold;*/
/*    @apply hover:after:bg-slate-900;*/
/*}*/
/*.tab-button:after{*/
/*    content: '';*/
/*    height: 2px;*/
/*    background: transparent;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    bottom: -4%;*/
/*    left: 0;*/
/*    @apply transition;*/
/*    @apply duration-300;*/
/*}*/
.bg-nav{
    background-color: var(--nav_color);
}
.primary-btn{
    text-decoration: none;
    padding: .7rem 2.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    border-radius: 0.15rem;
    text-transform: uppercase;
    transition: .3s ease;
    @apply text-sm;
    @apply sm:text-base;
}

.btn-bordered{
    @apply border-slate-900;
    @apply border-2;
}

.cart-btn{
    @apply primary-btn;
    @apply btn-bordered;
    @apply white-btn;
    padding: .5rem 0;
    margin-bottom: .9rem;
}

.body-overly{
    @apply fixed;
    @apply inset-0;
    @apply bg-slate-900;
    @apply opacity-70;
    z-index: 1;
}

.cart-header{
    @apply relative;
}

.shopping_cart{
    @apply  transition-all;
    @apply  duration-500;
    right: -100%;
    @apply ease-in-out;
}

.shopping_cart.active{
    right: 0;
}

button.cart-close {
    font-size: 2rem;
    position: absolute;
    top: -39px;
    left: -33px;
}

.products-tab-button{
    @apply tab-button;
    font-size: .9rem;
    padding: .5rem 1rem;
    margin: 0;
}

.search-item{
    cursor: pointer;
}

.products .col-md-2{
        max-width: 18%;
    }
.products .col-md-10{
        max-width: 81%;
    }

.home-banner{
    position: relative;
    height: calc(100vh - 110px);
    z-index: 1;
    background-position: center;
    background-size: contain;
}
section.banner-overly:after {
    content: '';
    background: #464646;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
}
@media (min-width: 768px) {
    .products .col-md-2 {
        max-width: 18%;
    }
}
.announcement{
    background-color: var(--primary-color);
}
.company-banner h1 {
    text-shadow: 1px 2px 3px #00000063;
    transform: rotateZ(-12deg);
}

.about-service{
    background-color: #eeebe5;
}
.bi-check2-all{
    @apply text-green-500;
}
.help{
    @apply text-green-500;
}